.tab-title, .tab-title li{margin:0; padding:0; list-style:none;}
.tab-title {border:solid #2647a0; border-width:0 0 5px; zoom:1; position:relative;}
.tab-title li{margin:0 0.05em -0.3em 0; padding:1px 0 0; zoom:1; display:inline-block; *display:inline; vertical-align:bottom; cursor:pointer;}
.tab-title li.selected {margin-bottom:0;}
.tab-title li a{border:solid #a3a3a3;  border-width: 1px 1px 0 1px; color:#000; cursor:pointer; font-size:85%; padding:0.3em .75em; text-decoration:none; display:block; display:inline-block; padding:6px 10px; position:relative; text-decoration: none; vertical-align:bottom;}
.tab-title .selected a, .tab-title .selected a:focus, .tab-title .selected a:hover {background:#2647a0; color:#fff;}
.tab-title .selected a {padding:0.4em 0.75em; border-color:#243356;}

.tab-content {background:#edf5ff; border:1px solid #808080; border-top-color:#243356; padding:0.1em 0.25em 0.25em 0.1em; z-index:100;}
.tab-content .hide{display:none;}


.sortable .hover {cursor:pointer; background:#fcfcfc;}
.sortable .even{background:#f0f6fa;}